.part1{
    height: 200px;
    background-color: black;
    color: aliceblue;
}
#name{
    color: aliceblue;
}
.part2{
    height: fit-content;
    background-color:rgb(0, 255, 85);
    color: aliceblue;
}
.part3{
    height: max-content;
    background-color: rgb(225, 65, 132);
    color: aliceblue;
}
.part4{
    height: fit-content;
    background-color:rgb(200, 255, 0);
    color: aliceblue;
}